<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ImageGallary</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">ImageGallary</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          
          <li><a href="/showSignInPage">SignIn</a></li>
          <li><a href="/showSignUpPage">SignUp</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="inner cover">
            <h1 style="text-align: center; margin: 40px auto;">WELCOME TO MY IMAGE GALLARY! </h1>   
            <p style="text-align: center;" class="lead">HAVE A GOOD DAY.</p>
              <div class="form-group" style="width: 30%; margin: 40px auto;">
                <a href="/showSignUpPage"><button class="btn btn-lg btn-primary btn-block">Get Started!</button></a>
              </div>
          </div>

        </div>

      </div>

    </div>
  </body>
</html>
